.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    gap: 2rem;
}

.title{
    display: flex;
    gap: 0.5rem;
}

.title span{
    white-space: nowrap;
}

.links{
    display: flex;
    gap: 10vw;
}